.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.box1 {
    grid-area: logo;
    background-color: lightcoral;
}

.box2 {
    grid-area: menu;
    background-color: lightblue
}

.box3 {
    grid-area: hero;
    background-color: lightgreen;
}

.box4 {
    grid-area: Karta-1;
    background-color: lightpink;
}

.box5 {
    grid-area: Karta-2;
    background-color: aquamarine;
}

.box6 {
    grid-area: Karta-3;
    background-color: bisque;
}

.box7 {
    grid-area: sidebar;
    background-color: lightgrey;
}

.box8 {
    grid-area: footer;
    background-color: lightseagreen
}

body {
    margin: 0;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);

    grid-template-areas: 
        "logo menu menu menu"
        "hero hero hero sidebar"
        "Karta-1 Karta-2 Karta-3 sidebar"
        "footer footer footer footer";
    gap: 10px
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 100px);

        grid-template-areas:
            "logo"
            "menu"
            "hero"
            "Karta-1"
            "Karta-2"
            "Karta-3"
            "sidebar"
            "footer"
    }
}
